body {
	border: 8px groove seagreen;
	margin: 0px;
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.left {
	background-color: seashell;
	height: 100%;
	width: 100%;
	display: flex;
	grid-area: 1/1/2/2;
}

.right {
	border: 2px solid darkblue;
	background-color: skyblue;
	grid-area: 1/2/1/3;
}

#forecast {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

form {
	height: 100%;
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-top: -75%;
}

#location,
#stateDropdown {
	width: 200px;
}

#submit {
	margin-top: 20px;
	align-self: center;
	width: 200px;
}
.daygrid {
	height: 100%;
	display: grid;
	justify-content: space-around;
	align-items: center;
	width: 200px;
	grid-template-rows: 1fr 2fr 1fr 1fr 2fr;
	grid-template-columns: 1fr 1fr;
	border: 5px groove darkgreen;
}

.gridelement {
	height: 100%;
	width: 100%;
	margin: auto;
	border: 2px solid green;
}

#grid100 {
	background-color: red;
}
