body {
	border: 8px groove seagreen;
	margin: 0px;
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.left {
	background-color: seashell;
	height: 100%;
	width: 100%;
	display: flex;
	grid-area: 1/1/2/2;
}

.right {
	border: 2px solid darkblue;
	background-color: skyblue;
	grid-area: 1/2/1/3;
	display: flex;
	justify-content: space-around;
}

#forecast {
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: space-around;
}

form {
	height: 100%;
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#location {
	height: 40px;
	font-size: 18px;
	width: 200px;
}
#stateDropdown {
	height: 40px;
	font-size: 18px;
	width: 200px;
}
#submit {
	margin-top: 24px;
	align-self: center;
	height: 80px;
	border-radius: 8px;
	font-size: 22px;
	width: 400px;
}
.daygrid {
	height: 100%;
	display: grid;
	justify-content: space-around;
	align-items: center;
	width: 200px;
	grid-template-rows: 1fr 2fr 1fr 1fr 2fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"day" "day"
		"image" "image"
		"lowlabel" "low"
		"highlabel" "high"
		"description" "desciption";
}

.images {
	height: 100%;
	width: 100%;
	grid-area: 2/1/3/3;
	background-color: white;
	border: 2px solid black;
}
#sunimage {
	content: url("../images/sun.svg");
}
#cloudimage {
	content: url("../images/cloud.svg");
}
#rainimage {
	content: url("../images/rain.svg");
}
#snowimage {
	content: url("../images/snow.svg");
}
#stormimage {
	content: url("../images/storm.svg");
}

.weatherlabels {
	height: 100%;
	width: 100%;
	display: flex;
	background-color: papayawhip;
	font-size: 18px;
	font-weight: 700;
	text-decoration: underline;
	border: 2px solid black;
	justify-content: center;
	align-items: center;
}

#date {
	grid-area: 1/1/2/3;
}
#conditions {
	grid-area: 5/1/6/3;
}
#maxtemplabel {
	background-color: orange;
	grid-area: 3/1/4/2;
}
#mintemplabel {
	background-color: cornflowerblue;
	grid-area: 4/1/5/2;
}
#maxtemp {
	height: 100%;
	width: 100%;
	display: flex;
	background-color: papayawhip;
	font-size: 18px;
	border: 2px solid black;
	justify-content: center;
	align-items: center;
	grid-area: 3/2/4/3;
}
#mintemp {
	height: 100%;
	width: 100%;
	display: flex;
	background-color: papayawhip;
	font-size: 18px;
	border: 2px solid black;
	justify-content: center;
	align-items: center;
	grid-area: 4/2/5/3;
}

.gridelement {
	height: 100%;
	width: 100%;
	margin: auto;
	border: 2px solid green;
}

#grid100 {
	display: flex;
	align-items: center;
	justify-content: Center;
	background-color: red;
	grid-area: span;
}
