body {
	height: 100vh;
	width: 100vw;
	margin: 0px;
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.left {
	border-right: 10px black groove;
	background-color: seashell;
	height: 100%;
	width: 100%;
	display: flex;
	grid-area: 1/1/2/2;
	flex-direction: column;
	margin: 0px;
}

.info {
	margin-top: 15%;
	margin-bottom: -20%;
	font-size: 28px;
	text-decoration: wavy;
	color: rgb(240, 170, 121);
	text-align: center;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-self: center;
}
.right {
	overflow-x: scroll;
	border-left: 10px black groove;
	height: 100vh;
	width: 100%;
	background-color: rgb(240, 170, 121);
	grid-area: 1/2/1/3;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 48px;
	gap: 20px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	text-decoration: underline;
}

form {
	height: 100%;
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#location {
	height: 40px;
	font-size: 18px;
	width: 200px;
}
#stateDropdown {
	height: 40px;
	font-size: 18px;
	width: 200px;
}
#submit {
	margin-top: 24px;
	align-self: center;
	height: 60px;
	border-radius: 12px;
	font-size: 22px;
	width: 80%;
}
#submit:active {
	background-color: red;
}
.daygrid {
	border-radius: 10px;
	border: 8px solid black;
	height: 80%;
	display: grid;
	width: 90%;
	justify-content: space-around;
	align-items: center;
	grid-template-rows: 1fr 2fr 1fr 1fr 2fr;
	grid-template-columns: 1fr 1fr;
	margin: 5px;
}

#gridhover {
	background-color: red;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.images {
	max-height: 100%;
	max-width: 100%;
	min-height: 100%;
	min-width: 100%;
	margin-bottom: -2px;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: 2/1/3/3;
}

#sunimage {
	content: url("../images/sun.png");
}
#cloudimage {
	content: url("../images/cloud.svg");
}
#rainimage {
	content: url("../images/rain.svg");
}
#snowimage {
	content: url("../images/snow.svg");
}

#stormimage {
	content: url("../images/storm.svg");
}
#clearimage {
	content: url("../images/clear.png");
}
#partlysunimage {
	content: url("../images/partlysun.png");
}
.weatherlabels {
	height: 100%;
	width: 100%;
	display: flex;
	background-color: papayawhip;
	font-size: 18px;
	font-weight: 700;
	text-decoration: underline;
	justify-content: center;
	align-items: center;
	margin: auto;
}

#date {
	border-bottom: 2px solid black;

	display: flex;
	text-align: center;
	grid-area: 1/1/2/3;
}
#conditions {
	grid-area: 5/1/6/3;
	justify-content: center;
	align-items: center;
	border-top: 2px solid black;
}
#maxtemplabel {
	border-top: 2px solid black;
	border-bottom: 2px solid black;

	background-color: orange;
	grid-area: 3/1/4/2;
}
#mintemplabel {
	border-top: 2px solid black;
	margin-top: -2px;
	background-color: cornflowerblue;
	grid-area: 4/1/5/2;
}
#maxtemp {
	border-bottom: 2px solid black;
	border-top: 2px solid black;
	margin: auto;
	display: flex;
	background-color: orange;
	font-size: 18px;
	justify-content: center;
	align-items: center;
	grid-area: 3/2/4/3;
}
#mintemp {
	border-top: 2px solid black;
	margin-top: -2px;
	background-color: cornflowerblue;
	grid-area: 4/2/5/3;
}
